@charset "utf-8";

.wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    /* background-color: blueviolet; */
}


/* ========= header ========= */
header {
    width: 100%;
    height: 200px;
    /* background-color: aqua; */
}

.mainmenu img {
    width: 140px;
    padding-top: 30px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainmenu .gnb {
    margin-top: 25px;
    /* background-color: bisque; */
}

.mainmenu ul {
    display: flex;
}

.mainmenu .gnb a {
    font-size: 25px;
    padding-left: 30px;
}

.mainmenu a:hover {
    color: darkblue;
    text-decoration: underline;
}



/* ========= main ========= */
/* main-ad */
main {
    position: relative;
    width: 100%;
    /* background-color: lightcoral; */
}

.main-ad .main-img > img {
    width: 100%; height: 100%;
}

.main-ad .title {
    position: absolute;
    text-align: center;
    width: 520px;
    top: 160px; left: 440px;
}

.main-ad .title > p {
    font-size: 60px;
    color: #24a6e0;
}

.main-ad .title > .big-txt {
    font-size: 120px;
    -webkit-text-stroke: 2px #fff;
}

.main-ad .menu-list {
    font-size: 20px;
}

.main-ad .menu-list strong {
    font-size: 16px;
}

.main-ad .menu-list .menu1 {
    position: absolute;
    top: 175px; left: 120px;
}

.main-ad .menu-list .menu2 {
    position: absolute;
    top: 440px; left: 400px;
}

.main-ad .menu-list .menu3 {
    position: absolute;
    top: 430px; left: 850px;
}

.main-ad .menu-list .menu4 {
    position: absolute;
    top: 120px; left: 1100px;
}

/* newmenu */
.newmenu h3 {
    margin-top: 140px;
    margin-bottom: 30px;
}

.newmenu-list {
    display: flex;
}

.Newmenu {
    position: relative;
}

.newmenu1 img {
    width: 630px;
}

.newmenu .menu-txt {
    position: absolute;
    height: 100px;
    padding-top: 22px;
    padding-left: 30px;
    color: #fff;
}

.newmenu .menu-txt > h4 {
    font-size: 30px;
}

.newmenu .menu-txt > p {
    font-size: 24px;
}

.newmenu1 .menu-txt {
    top: 679px;
    width: 630px;
    background-color: rgba(0, 0, 0, 0.2);
}

.newmenu2 img {
    width: 510px;
    margin-left: 40px;
}

.newmenu2 .menu-txt {
    top: 531px; left: 40px;
    width: 510px;
    background-color: rgba(0, 0, 0, 0.2);
}


/* bestmenu */
.bestmenu-slide-btn h3 {
    margin-top: 141px;
}

.bestmenu {
    position: relative;
}

.bestmenu .bestmenu-list {
    display: flex;
    overflow: hidden;
}

.bestmenu-list img {
    width: 300px; height: 300px;
}

.bestmenu .bestmenu-list > div {
    margin: 0 46px;
}

.bestmenu h4 {
    margin-top: 20px;
}

.bestmenu .slide-btn span {
    display: block;
    width: 30px; height: 30px;
    text-align: center;
    font-size: 30px;
    background-color: #fef8ba;
    border-radius: 50%;
    cursor: pointer;
}

.bestmenu .slide-btn .left-btn {
    position: absolute;
    top: 150px;
}

.bestmenu .slide-btn .right-btn {
    position: absolute;
    top: 150px; right: 0;
}

/* mdpick */
.mdpick h3 {
    margin-top: 140px;
}

.mdpick .menulist {
    display: flex;
    justify-content: space-between;
}

.mdpick .menulist > div {
    width: 380px;
}

.mdpick .menulist img {
    width: 380px; height: 380px;
}

.mdpick .menulist .menu-txt {
    margin-top: 10px;
    line-height: 1.5em;
}

.mdpick .more-btn .btn {
    position: absolute;
    width: 50px; height: 50px;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: rgba(254, 248, 186, 0.8);
}

.mdpick .more-btn a:hover {
    border-radius: 50%;
    background-color: rgba(254, 248, 186, 1);
    text-decoration: none;
    font-size: 55px;
}

.mdpick .more-btn .btn1 {
    top: 385px; left: 335px;
}

.mdpick .more-btn .btn2 {
    top: 385px; left: 735px;
}

.mdpick .more-btn .btn3 {
    top: 385px; left: 1135px;
}

/* event */
.event {
    margin-top: 140px;
}

.Event {
    position: relative;
    margin-bottom: 30px;
}

.event p {
    position: absolute;
    margin-left: 30px;
    font-size: 30px;
    line-height: 40px;
}

.Event p {
    top: 50px;
}

/* map */
.map {
    margin-top: 140px;
}

/*sns*/
.sns {
    margin-top: 140px;
    padding-bottom: 135px;
    background-color: #fef8ba;
}

.sns h3 {
    margin: 75px 0;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    background-color: #ffd966;
}

.sns .img-list span {
    display: inline-block;
}

.sns .img-list a {
    opacity: 1;
}

.sns .img-list a:hover {
    opacity: 0.8;
}

.sns .img-list img {
    width: 292px; height: 340px;
    padding-bottom: 5px;
}


/* ========= footer ========= */
footer {
    position: relative;
    width: 100%;
    /* background-color: aqua; */
}

/* logo-info-flexbox */
.logo-info-flexbox {
    display: flex;
    height: 240px;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 140px; height: 140px;
}

.info-menu ul {
    display: flex;
}

.info-menu a,
.info-business a {
    padding-right: 5px;
}

.info-menu a:hover,
.info-business a:hover {
    color: darkblue;
}

.info-business address a {
    display: inline-block;
}

.info-menu a,
.info-business address p,
.info-business address a,
.info-business .copyright {
    font-size: 20px;
    line-height: 25px;
}

.info-business address .cafeaddress,
.info-business address a {
    display: inline;
}

/*fix-menu*/
.fix-menu {
    position: fixed;
    right: 40px;
    bottom: 100px;
}

.fix-menu li > a {
    width: 50px; height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    background-color: #fef8ba;
}

.fix-menu li > a:hover {
    text-decoration: none;
    background-color: #ffd966;
}
.fix-menu li > a:first-child {
    margin-bottom: 10px;
}

.fix-menu li > a:last-child > img {
    width: 30px;
}