@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face { 
    font-family: 'omyu pretty';
    src: url('./font/omyu_pretty.eot');
    src: local('omyu_pretty'),
    url('./font/omyu_pretty.eot?#iefix') format('embedded-opentype'),
    url('./font/omyu_pretty.woff2') format('woff2'),
    url('./font/omyu_pretty.woff') format('woff'),
    url('./font/omyu_pretty.ttf') format('truetype'),
    url('./font/omyu_pretty.svg#KakaoaLt') format('svg');
}

body {
    font-family: 'omyu pretty';
}

ul,
ol,
li {
    list-style: none;
}

a {
    display: block;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

strong {
    display: block;
    font-weight: normal;
}

img,
input,
textarea,
button {
    vertical-align: middle;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 0;
}

h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

h4 {
    font-size: 20px;
    font-weight: normal;
}

address {
    font-style: none;
}

header,
nav,
main,
article,
aside,
section,
footer {
    display: block;
}